@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gwendolyn";
  src: url(../fonts/Gwendolyn-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

img {
  float: left;
  width: 80px;
  height: 80px;
}

footer {
  margin-top: 20px;
  background-color: #000000; /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Ancho igual al 100% del contenedor */
}

.redes a {
  color: rgb(13, 110, 253); /* Color del texto azul */
  font-size: 35px; /* Tamaño de fuente de 35px */
  letter-spacing: 20px; /* Espaciado entre letras de 20px */
}

/*
$c1: rgb(13, 110, 253); azul
$c2: #000000; negro
$c3: rgb(255, 255, 255); blanco
$c4: rgb(0, 128, 0);
$c5: rgb(255, 255, 0);
$c6: rgb(255, 0, 0);
$c7: #800080;
$c8: rgb(255, 215, 0);
$c9: rgb(216, 122, 147);
$c10: rgb(255, 235, 205); 
$c11: rgb(34, 204, 12);
$c12: #333;
$c13: #3000b3;
$centro: center;
$izq: left;
$alto: height;
$ancho: width;
$radio: 10px;*/
@font-face {
  font-family: "Gwendolyn";
  src: url(/fonts/Gwendolyn-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "Gwendolyn", Arial, sans-serif; /* Fuente Gwendolin */
  text-align: center; /* Alineación del texto al centro */
  padding: 18px; /* Espaciado interno */
  margin-right: 2px; /* Margen superior para separar del icono */
}

.navbar {
  background-color: black;
}

.navbar a {
  color: white;
}

header {
  background-color: black;
}

header nav ul li a {
  color: blanco; /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  list-style: none; /* Quita los puntos de la lista */
  margin-right: 30px; /* Margen derecho */
  margin-top: 15px; /* Margen superior */
  margin-bottom: 10px; /* Margen inferior */
  font-size: 20px; /* Tamaño de fuente */
  text-decoration: none !important; /* Elimina el subrrayado */
}

header nav ul li a:hover {
  color: green;
}

@font-face {
  font-family: "Gwendolyn";
  src: url(../fonts/Gwendolyn-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
.favicon {
  vertical-align: middle;
}

body {
  height: 500px;
  /* Altura del 100% de la ventana del navegador */
  background-color: rgb(13, 110, 253);
  background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
  /* Degradado de colores */
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.body-background {
  background-color: rgb(13, 110, 253);
  /* Color de fondo */
  background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
  padding: 20px;
  /* Espaciado interno */
  color: rgb(255, 255, 255);
  /* Color del texto */
}

section {
  margin: 0;
  /* Establece el margen exterior a 0 */
  padding: auto;
  /* Establece el relleno a automatico */
  font-size: 20px;
  /* Tamaño de fuente */
  font-family: "Roboto Slab", Arial, sans-serif;
  /* Familia de fuentes primero Arial */
}

.espaciador {
  padding: 50px;
  /* Espaciado interno */
}

article {
  height: 600px;
  /* Altura del artículo */
  padding-top: 15px;
  /* Espaciado superior */
  padding-right: 10px;
  /* Espaciado derecho */
  padding-bottom: 15px;
}
article ul li {
  list-style: none;
  /* Quita los puntos de la lista */
}

.about {
  padding: 20px;
  /* Ajusta el valor del relleno según tus necesidades */
  height: 100%;
  /* Asegura que el artículo ocupe todo el espacio disponible */
  box-sizing: border-box;
  /* Incluye el relleno dentro del tamaño total del artículo */
}

.about img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
}

.alineado-parrafo {
  margin-left: 30px;
  padding-bottom: 40px;
  /* Margen izquierdo para alinear párrafos */
}

main {
  display: flex;
  /* Se establece el contenedor principal como flexbox */
  flex-direction: column;
  /* Dirección de los elementos: columna */
  align-items: center;
  /* Centra los elementos horizontalmente */
  gap: 20px;
  /* Espacio entre los elementos */
}

h2 {
  font-size: 40px;
  /* Tamaño de fuente grande */
  text-align: center;
  /* Alineación del texto a la izquierda */
  padding: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

h4 {
  padding: 18px;
  /* Espaciado interno */
  font-size: 36px;
  /* Tamaño de fuente grande */
  text-align: left;
  /* Alineación del texto a la izquierda */
}

.spacer {
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  /* Margen inferior de 20px */
  height: 90px;
  /* Altura espaciada */
}

.container {
  padding: 10px;
  /* Relleno de 10px en todos los lados del contenedor */
}

.parrafo-principal {
  font-size: 20px;
  /* Tamaño de fuente de 14px */
  text-align: left;
  /* Alineación del texto a la izquierda */
  padding: 18px;
  /* Espaciado interno */
  text-shadow: #000000 0, 0, 0, 0.4;
}

.parrafoprincipal {
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab", sans-serif;
  text-shadow: 0 0 6px #000000;
  text-align: left; /* Centra el texto a la izquierda */
  padding-top: 50px;
  padding-left: 120px;
  font-size: 20px;
  /* Espaciado interno */
}

.parrafoprincipal ul {
  list-style-type: none;
  /* Quita los puntos de las viñetas */
}

.parrafoprincipal ul li {
  padding-bottom: 28px;
  /* Agrega un margen izquierdo para mantener la sangría */
}

.videosCentrado {
  margin-top: 40px;
  /* Margen superior de 15px */
  margin-bottom: 10px;
  /* Margen inferior de 10px */
  text-align: center;
  /* Alineación del texto al centro */
  color: rgb(255, 255, 255);
  /* Color del texto */
  text-shadow: dark 0.8;
  /* Sombra de texto */
}

video {
  max-height: 720px;
  /* Establece la altura máxima del video */
  max-width: 100%;
  /* Establece el ancho máximo del video */
  display: block;
  /* Asegura que el video se muestre como un bloque */
  margin-left: auto;
  /* Centra el video horizontalmente */
  margin-right: auto;
  /* Centra el video horizontalmente */
}

/* Cambia el color del icono de deslizamiento del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  /* Invierte el color del icono */
}

.solicitar-link {
  display: inline-block;
  /* Establece el elemento como bloque en línea */
  background-color: rgb(13, 110, 253);
  /* Color de fondo */
  color: rgb(255, 255, 255);
  /* Color del texto */
  padding: 10px 20px;
  /* Relleno */
  text-decoration: none;
  /* Quita la decoración de enlace */
  border-radius: 5px;
  /* Borde redondeado */
}

.icono {
  max-width: 20px;
  /* Ancho máximo */
  display: block;
  /* Establece el elemento como bloque */
  height: auto;
  /* Altura automática */
  margin-bottom: 20px;
  /* Margen inferior de 20px */
}

.Jumbotromp {
  background-image: url("../assets/images/parque.avif");
  background-size: cover;
  height: 650px;
  background-position: center;
}

.contenedor-recuadros {
  height: auto;
  width: auto;
  display: grid;
  align-items: center;
  /* Centra verticalmente los elementos */
  justify-content: center;
  /* Centra horizontalmente el contenedor */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
}
.contenedor-recuadros .recuadro {
  height: 140px;
  width: 140px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 4px solid #000000;
  padding: 15px;
  overflow: hidden;
  margin: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 1.7s;
  /* Transición con duración de 0.7 segundos */
}
.contenedor-recuadros .recuadro a {
  text-decoration: none;
  /* Elimina el subrayado */
}
.contenedor-recuadros .recuadro:hover {
  transform: scale(0.7);
  /* Reduce el tamaño del elemento al 70% */
  background-color: #000000;
  /* Cambia el color de fondo a negro */
  border-radius: 20px;
  /* Establece un radio de borde de 20px */
  color: rgb(255, 255, 255);
  /* Color del texto */
}

.recuadro.presupuesto p {
  font-size: 14px;
}

.fichaPaciente > :first-child {
  text-align: center;
  margin-bottom: 8px;
  padding: 20px;
}

.contenedor-imagenes-cuadradas {
  width: 100%;
  /* ancho*/
  height: 900px;
  /* Altura */
}
.contenedor-imagenes-cuadradas .aboutgaleria {
  width: 100%;
  /* ancho*/
  height: 100vh;
  /* Altura */
  gap: 30px;
  /* Espacio entre cada cuadrícula */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 180px);
  grid-template-areas: "img1 img2 img3" "img4 img5 img3" "img4 img8 img7" "img6 img6 img7";
  padding: 30px;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item {
  border: 5px solid #000000;
  /* Cambiar el ancho del borde a 5px y el color a negro */
  border-radius: 9px;
  background-size: cover;
  background-position: center;
  filter: grayscale(30%);
  transition: all 0.9s;
  padding: 30px;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
  z-index: 1;
  /* Asegura que la imagen en escala esté por encima de las otras */
}
.contenedor-imagenes-cuadradas .aboutgaleria .item.item1 {
  background-image: url("../assets/images/item1.jpg");
  grid-area: img1;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item.item2 {
  background-image: url("../assets/images/item2.jpg");
  grid-area: img2;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item.item3 {
  background-image: url("../assets/images/item3.jpg");
  grid-area: img3;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item.item4 {
  background-image: url("../assets/images/item4.jpg");
  grid-area: img4;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item.item5 {
  background-image: url("../assets/images/item5.jpg");
  grid-area: img5;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item.item6 {
  background-image: url("../assets/images/item6.jpg");
  grid-area: img6;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item.item7 {
  background-image: url("../assets/images/item7.jpg");
  grid-area: img7;
}
.contenedor-imagenes-cuadradas .aboutgaleria .item.item8 {
  background-image: url("../assets/images/item8.jpg");
  grid-area: img8;
}

.contenedor-fotoequipo {
  padding-top: 15px;
  padding-bottom: 25px;
  width: 100%;
  height: 700px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotoequipo {
  width: auto;
  height: 500px;
  transform: rotate(-10deg);
}

.fotito {
  height: 50%;
}

.contact .mt-5 {
  background-image: url("../assets/images/contacto.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: #000000 -2px;
  /* Sombra de texto */
  font-size: 14px;
  /* Tamaño de fuente */
  text-align: left;
  /* Alinea el texto a la izquierda */
}

.contenedor-recuadros img,
.aboutgaleria img {
  width: auto;
  /* Ancho al 100% del contenedor padre */
  height: auto;
  /* Altura automática para mantener la proporción de la imagen */
}

.contenedor-padre {
  padding-top: 15px;
  position: relative;
  /* Establece la posición relativa para que los elementos absolutos se posicionen relativamente a este contenedor */
  width: 100%;
  /* Ancho al 100% del ancho de su contenedor padre */
  height: 100%;
  /* Altura al 100% del alto de su contenedor padre */
}

.subrayado {
  text-decoration: underline;
  /* Subrayado */
}

button {
  background-color: rgb(13, 110, 253);
  /* Color de fondo */
  color: rgb(255, 255, 255);
  /* Color del texto */
  border: none;
  /* Sin borde */
  padding: 5px 10px;
  /* Relleno */
  cursor: pointer;
  /* Cursor al señalar */
}

aside {
  text-align: center;
  /* Alineación del texto al centro */
}

aside p {
  display: inline-block;
  /* Permite centrar el elemento <p> horizontalmente */
  background-color: rgb(255, 255, 255);
}

.titulo {
  align-self: top;
  /* Alinea el título en la parte superior */
  text-align: top;
  /* Alineación del texto al tope */
  font-size: 20px;
  /* Tamaño de fuente */
  margin-bottom: 20px;
  /* Margen inferior */
}

.terapeutas-container {
  text-align: left;
  /* Alineación del texto a la izquierda */
  padding: 12px;
  /* Espaciado interno */
  text-shadow: #3000b3 0 -1px;
  /* Sombra de texto */
}

.Equipo-de-terapeutas {
  display: grid;
  /* Establece el contenedor como cuadrícula */
  grid-column: 800px;
  gap: 20px;
  /* Espacio entre columnas */
  margin-top: 50px;
  /* Margen superior */
}

.columnas-talleres {
  padding-left: 20px;
  padding-right: 35px;
}

.about-grid {
  display: flex;
  /* Establece el contenedor como flexbox */
  align-items: center;
  /* Alinea verticalmente el contenido al centro */
  justify-content: center;
  /* Centra horizontalmente el contenido */
  margin-left: 40px;
  /* Espacio a la izquierda del elemento */
}

.service-container {
  max-width: 800px;
  /* Ancho máximo del contenedor */
  width: 100%;
  /* Ancho completo */
}

.service-contenido {
  margin-bottom: 20px;
  /* Margen inferior */
}

.service-grid {
  display: flex;
  width: 100%;
  max-height: 1200px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

.whats {
  background-color: rgb(255, 235, 205);
  /* Color de fondo */
  color: rgb(34, 204, 12);
  /* Color del texto */
  height: 100px;
  /* Altura del elemento */
  width: 100px;
  /* Ancho del elemento */
  border: 2px solid;
  /* Grosor, estilo y color del borde */
  font-size: 45px;
  /* Tamaño de la fuente */
  right: 40px;
  /* Distancia desde el borde derecho */
  bottom: 40px;
  /* Distancia desde el borde inferior */
}

.contact {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  padding-top: 20px;
  color: rgb(34, 204, 12);
}
.contact a {
  color: rgb(255, 255, 255);
  /* Color azul */
}

.subir {
  height: 20px;
  /* Altura del elemento */
  width: 20px;
  /* Ancho del elemento */
  background-color: #333;
  /* Color de fondo */
  color: rgb(255, 255, 255);
  /* Color del texto */
  position: fixed;
  /* Posicionamiento fijo */
  border-radius: 50%;
  /* Forma redondeada */
  text-align: center;
  /* Alineación del texto */
  line-height: 20px;
  /* Altura de línea */
  font-size: 15px;
  /* Tamaño del texto */
  right: 20px;
  /* Distancia desde el borde derecho del contenedor padre */
  bottom: 100px;
  /* Distancia desde el borde inferior del contenedor padre */
}

input {
  border-radius: 10px;
  /* Radio de borde */
  text-align: center;
  /* Alineación del texto */
  padding: 3px;
  /* Espaciado interno */
  border: 4px #000000;
  /* Borde */
  font-size: 25px;
  /* Tamaño del texto */
  box-shadow: inset 0 0 5px;
  /* Sombra */
  background-color: rgb(255, 255, 255);
  /* Color de fondo */
  /* Estilos para diferentes tipos de input */
}
input[type=text] {
  height: 40px;
  /* Altura del campo de texto */
  color: rgb(13, 110, 253);
  /* Color del texto */
  margin: 0;
  /* Margen */
}
input[type=number] {
  height: 40px;
  /* Altura del campo de número */
  color: #3000b3;
  /* Color del texto */
  margin: 0;
  /* Margen */
}
input:focus {
  box-shadow: 0 0 15px 10px rgb(255, 255, 0);
  /* Sombra al enfocar */
  border: 5px;
  /* Borde al enfocar */
}

.fotoAgrandada img {
  padding-top: 15px;
  width: 50%;
  height: 50%;
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
}

.turnos {
  font-size: 30px;
  /* Tamaño del texto */
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  flex: 1 1 45%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 12px;
}

.formulario-turnos {
  display: flex;
  /* Establece el contenedor como un contenedor flexible */
  flex-direction: column;
  /* Establece la dirección de los elementos como columna */
  justify-content: center;
  /* Centra verticalmente */
  align-items: center;
  /* Centra horizontalmente */
}

.formulario-turnos input:nth-of-type(3) {
  /* Selecciona el tercer input dentro del formulario de turnos */
  text-align: center;
  /* Alinea el texto al centro */
  color: rgb(255, 0, 0);
  /* Cambia el color del texto a rojo */
}

.formulario-turnos label {
  margin-left: 5px;
  margin-bottom: 20px;
  display: block;
}

.formulario-turnos input {
  margin-bottom: 15px;
  /* Espacio entre los input */
}

.message {
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: #dff0d8;
  color: #3c763d;
}

.centralizado {
  display: flex;
  /* Utiliza el modelo de caja flexible */
  justify-content: center;
  /* Centra los elementos horizontalmente */
  align-items: center;
  /* Centra los elementos verticalmente */
}

.table-responsive {
  overflow-x: auto;
}

sec .row-about {
  display: flex;
  height: 500px;
  width: 100%;
  padding-left: 14px;
}

.fotoencuadrada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Estilos específicos para dispositivos móviles */
/* dispositivos con un ancho máximo de 320px (modo vertical) */
@media screen and (max-width: 320px) {
  .Jumbotromp {
    background-size: contain;
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
  }
  .logo {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    min-height: 90px;
    /* Establece una altura mínima para la barra de navegación */
    margin-bottom: 20px;
  }
  section {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-shadow: rgb(13, 110, 253) 0 -1px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 320px;
  }
  body {
    background-color: rgb(13, 110, 253);
    font-size: 16px;
    width: 100%;
  }
  nav,
  footer {
    width: 100%;
  }
  header {
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    width: 320px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  nav ul li {
    display: flex;
    margin-bottom: 10px;
  }
  .descripcion {
    text-align: center;
    margin: 0 auto;
    width: 320px;
  }
  video {
    max-height: 480px;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros {
    min-width: 319px !important;
    /* Ancho deseado para dispositivos con un ancho máximo de 320px */
    max-width: 479px !important;
    /* Ancho deseado para dispositivos con un ancho máximo de 480px */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Centra los elementos verticalmente */
  }
  .contenedor-recuadros .recuadro {
    font-size: 10px;
  }
  footer {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-height: 480px;
    max-width: 320px;
  }
  .fotoencuadrada {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
/* dispositivos con un ancho máximo de 480px (modo horizontal) */
@media screen and (max-width: 480px) {
  .Jumbotromp {
    background-size: contain;
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
  }
  section {
    font-size: 16px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  nav ul li {
    display: flex;
    margin-bottom: 10px;
  }
  article {
    height: auto;
    padding-right: 0;
  }
  h4 {
    font-size: 24px;
  }
  .videosCentrado {
    font-size: 18px;
  }
  .icono {
    max-width: 16px;
  }
  .titulo {
    font-size: 16px;
  }
  .terapeutas-container {
    padding: 8px;
  }
  .Equipo-de-terapeutas {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  .about-grid {
    margin-left: 20px;
  }
  .service-container {
    max-width: 480px;
  }
  .whats {
    height: 60px;
    width: 60px;
    font-size: 30px;
    right: 20px;
  }
  .formulario-turnos label {
    margin-left: 0;
    margin-bottom: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  .logo {
    width: 70px;
    height: 70px;
    margin-top: 20px;
  }
  header {
    font-size: 12px;
    width: 100%;
  }
  video {
    max-height: 360px;
    max-width: 100%;
  }
  .contenedor-recuadros {
    min-width: 480px;
    display: flex;
    /* Establece el contenedor como flexbox */
    flex-direction: column;
    /* Dirección de los elementos: columna */
    align-items: center;
    /* Centra los elementos horizontalmente */
  }
}
@media screen and (min-width: 580px) and (max-width: 800px) {
  .navbar-nav {
    min-width: 445px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    /* Cambiado a row para un menú horizontal */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    padding: 0;
    margin: 0 auto;
  }
  .navbar-nav ul {
    list-style-type: none;
    /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* Limita el ancho del ul al 100% del contenedor */
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan */
    justify-content: center;
    /* Centra los elementos horizontalmente */
  }
  .navbar-nav ul li {
    font-size: 6px;
    margin-bottom: 10px;
    min-width: 66px;
    max-width: 70px;
    /* Ajusta el ancho máximo de los elementos li */
    margin-right: 10px;
    /* Agrega un margen entre los elementos li */
    width: calc((100% - 30px) / 3);
    /* Ajusta el ancho de cada elemento li */
    /* Se divide por 3 debido a los 3 elementos li, y 30px es la suma del margen y el margen derecho de los elementos li */
  }
  .navbar-nav ul li:last-child {
    margin-right: 0;
    /* Elimina el margen derecho del último elemento li */
  }
  .Jumbotromp {
    background-size: contain;
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
  }
  section {
    font-size: 14px;
  }
  article {
    height: auto;
    padding-right: 0;
  }
  h4 {
    font-size: 24px;
  }
  .videosCentrado {
    font-size: 16px;
  }
  .icono {
    max-width: 14px;
  }
  .titulo {
    font-size: 14px;
  }
  .terapeutas-container {
    padding: 8px;
  }
  .Equipo-de-terapeutas {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .about-grid {
    margin-left: 18px;
  }
  .service-container {
    max-width: 600px;
  }
  .contenedor-recuadros {
    height: 1200px;
    width: 800px;
  }
  .contenedor-padre {
    margin-left: 12px;
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fotoAgrandada img {
    padding-top: 10px;
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .whats {
    height: 56px;
    width: 56px;
    font-size: 28px;
    right: 18px;
  }
  .formulario-turnos label {
    margin-left: 0;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  .logo {
    width: 70px;
    height: 70px;
    margin-top: 18px;
  }
  header {
    font-size: 12px;
    width: 100%;
  }
  video {
    padding-top: 10px;
    max-width: 100%;
    max-height: 100%;
  }
}
.galeria.container-fluid {
  background-color: #000;
  padding-top: 5px;
  width: 100%;
  max-height: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.container-servicios {
  display: flex;
  width: 100%;
  height: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.galeria .col-sm-12 {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  /* Ajustar el ancho del logo */
  height: 100%;
  /* Ajustar la altura del logo */
}

/* Estilos para tabletas de 600x1024 en modo vertical */
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .logo {
    margin-top: 15px;
    /* Ajustar el margen superior */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    padding: 10px;
    margin-top: 50px;
    /* Ajustar el margen superior */
    font-size: 20px;
    width: 90%;
    /* Ajustar el ancho del encabezado */
    text-align: center;
    /* Centrar el texto del encabezado */
    margin-left: auto;
    margin-right: auto;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  nav ul li {
    display: flex;
    margin-bottom: 10px;
    /* Ajustar el margen inferior */
  }
  main {
    padding: 5%;
    /* Ajustar el relleno en porcentaje */
  }
  aside {
    padding: 5%;
    /* Ajustar el relleno en porcentaje */
  }
  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    /* Ajustar el ancho máximo del video en porcentaje */
  }
  footer {
    padding: 5%;
    /* Ajustar el relleno en porcentaje */
    text-align: center;
    margin: 5% auto;
    /* Ajustar los márgenes en porcentaje */
    width: 95%;
    /* Ajustar el ancho del footer en porcentaje */
  }
  .galeria {
    display: grid;
    grid-template-rows: 480px;
    /* Define filas de 480px de alto */
  }
}
/* Estilos para tabletas de 10 pulgadas en modo vertical */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  header {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-top: 5%;
    /* Ajustar el margen superior en porcentaje */
    padding: 10px;
    letter-spacing: 10px;
  }
  header body {
    /* Altura del 100% de la ventana del navegador */
    background-color: rgb(13, 110, 253);
    background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
    /* Degradado de colores */
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 16px;
  }
  header body .body-background {
    background-color: rgb(13, 110, 253);
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    color: rgb(255, 255, 255);
    /* Color del texto */
  }
  header nav ul li {
    margin-right: 5%;
    /* Ajustar el margen derecho en porcentaje */
  }
  header aside {
    padding: 40px;
  }
  header footer .redes a {
    font-size: 25px;
  }
  header video {
    max-height: 1024px;
    max-width: 768px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header footer {
    padding: 20px;
    width: 768px;
    text-align: center;
    margin: 0 auto;
  }
  .galeria h4 {
    font-size: 22px;
    /* Tamaño de fuente ajustado */
    margin-bottom: 15px;
    background-color: rgb(13, 110, 253);
    background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
    /* Degradado de colores */
    font-family: "Roboto Slab", Arial, sans-serif;
  }
  .body-background {
    background-color: rgb(13, 110, 253);
    /* Color de fondo */
  }
  aside {
    padding: 40px;
  }
  main {
    width: 100%;
    padding: 40px;
  }
  .alineado-parrafo {
    font-size: 0.6rem;
    font-family: "Roboto Slab", Arial, sans-serif;
    /* Tamaño de fuente ligeramente reducido */
  }
  .alineado-parrafo .grid-item-hijo {
    padding: 10px;
    margin-bottom: 10px;
  }
  .alineado-parrafo nav ul li {
    margin-right: 15px;
  }
  .alineado-parrafo .recuadro {
    width: 100%;
  }
  .alineado-parrafo .galeria p {
    font-size: 18px;
    /* Tamaño de fuente ajustado */
    margin-bottom: 15px;
    /* Margen inferior para separar los elementos */
  }
  /* Estilos para tabletas como el iPad en modo horizontal y algunas pantallas de ordenador portátil, netbook y de escritorio */
  /* Estilos para pantallas medianas */
  /* Estilos para pantallas panorámicas de al menos 1200px (principalmente portátiles y de escritorio) */
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  body {
    height: 500px;
    /* Altura del 100% de la ventana del navegador */
    background-color: rgb(13, 110, 253);
    background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
    /* Degradado de colores */
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 16px;
  }
  body .body-background {
    background-color: rgb(13, 110, 253);
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    color: rgb(255, 255, 255);
    /* Color del texto */
  }
  header {
    padding: 40px;
  }
  nav ul li {
    margin-right: 30px;
  }
  aside {
    padding: 40px;
  }
  footer {
    padding: 40px;
  }
  main {
    width: 100%;
    padding: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (max-width: 767px) {
  .grid-item-hijo {
    padding: 10px;
    margin-bottom: 10px;
  }
  nav ul li {
    margin-right: 15px;
  }
  .recuadro {
    width: 100%;
  }
  nav ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (min-width: 1367px) {
  body {
    height: 500px;
    /* Altura del 100% de la ventana del navegador */
    background-color: rgb(13, 110, 253);
    background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
    /* Degradado de colores */
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 16px;
  }
  body .body-background {
    background-color: rgb(13, 110, 253);
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    color: rgb(255, 255, 255);
    /* Color del texto */
  }
  header {
    padding: 30px;
  }
  nav ul li {
    margin-right: 30px;
  }
  aside {
    padding: 30px;
  }
  main {
    width: 100%;
  }
  footer {
    padding: 30px;
  }
  /* Ejemplo de diseño de cuadrícula */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
  /* Estilos específicos para elementos de la cuadrícula */
  .grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
}
/* Estilos para los contenedores de fichas */
.fichas-container {
  margin: 40px 0;
}

.ficha {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
}

.ficha h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.fichaPaciente {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(255, 255, 255); /* Fondo blanco */
  border: 1.5px solid #e53935; /* Borde de color rojo */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 12px 20px; /* Aumento del padding para mejor apariencia */
  margin-bottom: 15px; /* Aumento del margen inferior para separación */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  text-align: left;
}

.fichaPaciente:hover {
  background-color: #f5f5f5; /* Cambio de color al pasar el cursor */
  transform: translateY(-2px); /* Ligero efecto de elevación */
}

.fichaPaciente .idPaciente {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#guardarFichaBoton {
  margin-top: 12px;
  background-color: #3c763d;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.fila-botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

#recuadroLimpiar {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 10px;
}

input[type=text],
input[type=date] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/*# sourceMappingURL=estilos.css.map */
