@import './utilities/_variables';
@import './base/_reset';
@import './base/_typography';
@import './base/_base';
@import './layout/_header';
@import './layout/_footer';
@import './utilities/_boxes';
@import './utilities/_images';
@import './utilities/_mixins';

@font-face {
    font-family: 'Gwendolyn';
    src: url(../fonts/Gwendolyn-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

.favicon {
    vertical-align: middle;
}

.body-background {
    background-color: $c3;    
    padding: 20px;
    color: $c2;
}

section {
    margin: 0;
    padding: auto;
    font-size: 20px;
    font-family: 'Roboto Slab', Arial, sans-serif;
}

.espaciador {
    padding: 50px;
}

.col-sm-12.col-md-6 {
    display: flex;
    flex-direction: column;
    padding: 0;
}

article {
    min-height: 600px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 25px;

    ul li {
        list-style: none;
    }
}

.about {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.about img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.alineado-parrafo {
    margin-left: 30px;
    padding-bottom: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h2 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: $c3;
}

h4 {
    padding: 18px;
    font-size: 36px;
    text-align: left;
}

.spacer {
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 90px;
}

.pacientes {
    color: white;
}

.container {
    padding: 10px;
}

.parrafo-principal {
    font-size: 20px;
    text-align: left;
    padding: 18px;
    text-shadow: $c2(0, 0, 0, 0.4);
}

.parrafoprincipal {
    color: $c3;
    font-family: 'Roboto Slab', sans-serif;
    text-shadow: 0 0 6px $c2;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.parrafoprincipal ul {
    list-style-type: none;
}

.parrafoprincipal ul li {
    padding-bottom: 28px;
}

.Jumbotromp {
    background-image: url("../assets/images/parque.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    min-height: 200px; 
    height: 30vh; 
    opacity: 0.8;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $c3; 
    font-family: Arial, sans-serif;
}

.parallax {
    background-image: url("../assets/images/parque.jpg");
    min-height: 380px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Jumbotromp-text {
    color: $c3;
    font-weight: bold;
    text-align: left;   
    padding: 10px; 
    border-radius: 10px;
    font-size: 2.5rem; 
    max-width: 90%; 
    box-sizing: border-box; 
    
}

.titulo-color {
    color: $c1;
    
}
.videosCentrado {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: $centro;
    color: $c3;
    text-shadow: dark 0.8;
}

video {
    max-height: 700px;
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);    
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px;
}

.solicitar-link {
    display: inline-block;
    background-color: $c1;
    color: $c3;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.icono {
    max-width: 20px;
    display: block;
    height: auto;
    margin-bottom: 20px;
}

.contenedor-recuadros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.contenedor-recuadros-profesionales {
    height: auto;
    width: auto;
    display: grid;
    align-items: center;
}

.recuadro {
    height: 120px;
    width: 120px;
    background-color: $c1;
    text-align: center;        
    border: 4px solid $c2;
    border-color: $c3;
    padding: 15px;
    overflow: hidden;
    margin: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 1.7s;
    a {
        text-decoration: none;
        font-size: 12px;
        color: $c3;
    }
    &:hover {
        transform: scale(0.7);
        background-color: $c2;
        border-radius: 20px;
        color: $c6;
    }
    p {
        font-size: 11px;
        color: $c3;
    }
    button {
        text-decoration: none;
        font-size: 12px;
        color: $c3;
    }
}

.fichaPaciente> :first-child {
    text-align: center;
    margin-bottom: 8px;
    padding: 20px;
}

.contenedor-imagenes-cuadradas {
    width: 100%;
    height: 900px;

    .aboutgaleria {
        width: 100%;
        height: 100vh;
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 180px);
        grid-template-areas: "img1 img2 img3" "img4 img5 img3" "img4 img8 img7" "img6 img6 img7";
        padding: 30px;

        .item {
            border: 5px solid $c2;
            border-radius: 9px;
            background-size: cover;
            background-position: center;
            filter: grayscale(30%);
            transition: all 0.9s;
            padding: 30px;

            &:hover {
                filter: grayscale(0%);
                transform: scale(1.2);
                z-index: 1;
            }

            &.item1 {
                background-image: url("../assets/images/item1.jpg");
                grid-area: img1;
            }

            &.item2 {
                background-image: url("../assets/images/item2.jpg");
                grid-area: img2;
            }

            &.item3 {
                background-image: url("../assets/images/item3.jpg");
                grid-area: img3;
            }

            &.item4 {
                background-image: url("../assets/images/item4.jpg");
                grid-area: img4;
            }

            &.item5 {
                background-image: url("../assets/images/item5.jpg");
                grid-area: img5;
            }

            &.item6 {
                background-image: url("../assets/images/item6.jpg");
                grid-area: img6;
            }

            &.item7 {
                background-image: url("../assets/images/item7.jpg");
                grid-area: img7;
            }

            &.item8 {
                background-image: url("../assets/images/item8.jpg");
                grid-area: img8;
            }
        }
    }
}

.contenedor-fotoequipo {
    padding-top: 15px;
    padding-bottom: 25px;
    width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoequipo {
    width: auto;
    height: 500px;
    transform: rotate(-10deg);
}

.fotito {
    height: 50%;
}

.contact .mt-5 {
    background-image: url('../assets/images/contacto.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: #000000 -2px;
    font-size: 14px;
    text-align: left;
}

.contenedor-recuadros img,
.aboutgaleria img {
    width: auto;
    height: auto;
}

.contenedor-padre {
    padding-top: 15px;
    position: relative;
    width: 100%;
    height: 100%;
}

.subrayado {
    text-decoration: underline;
}

button {
    background-color: $c1;
    color: $c3;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

aside {
    display: block;
    color: $c1;
    background-color: $c2;    
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 5px; 
    margin-top: 10px;  
    .p {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .a {
        display: block;
        background-color: $c3;
        text-decoration: none;
        color: #000;        
    }
}

#presupuesto-aside {
    display: block;
    color: $c2;
    background-color: $c3;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    a {
        display: block;
        background-color: $c3;
        text-decoration: none;
        color: #000;        
    }
}

.titulo {
    align-self: top;
    text-align: top;
    font-size: 20px;
    margin-bottom: 20px;
}

.tituloIndex {
    margin-top: 30px;    
}

.terapeutas-container {
    text-align: left;
    padding: 12px;
    text-shadow: $c13 0 -1px;
}

.Equipo-de-terapeutas {
    display: grid;
    grid-column: 800px;
    gap: 20px;
    margin-top: 50px;
}

.columnas-talleres {
    padding-left: 20px;
    padding-right: 35px;
}

.about-grid {
    display: flex;
    align-items: $centro;
    justify-content: $centro;
    margin-left: 40px;
}

.service-container {
    max-width: 800px;
    width: 100%;
}

.service-contenido {
    margin-bottom: 20px;
}

.service-grid {
    display: flex;
    width: 100%;
    max-height: 1200px;
    justify-content: $centro;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.whats {
    background-color: $c10;
    color: $c11;
    height: 100px;
    width: 100px;
    border: 2px solid;
    font-size: 45px;
    right: 40px;
    bottom: 40px;
}

.contact {
    display: flex;
    justify-content: $centro;
    align-items: $centro;
    padding-top: 20px;
    color: $c11;

    a {
        color: $c3;
    }
}

.subir {
    height: 20px;
    width: 20px;
    background-color: $c3;
    color: $c7;
    position: fixed;
    border-radius: 50%;
    text-align: $centro;
    line-height: 20px;
    font-size: 15px;
    right: 20px;
    bottom: 100px;
}

.bajar {    
    top: 30px;
    right: 30px;
    height: 20px;
    width: 20px;
    background-color: $c3;
    color: $c7;
    position: fixed;
    border-radius: 50%;
    text-align: $centro;
    line-height: 20px;
    font-size: 15px;    
    bottom: 100px;
}

input {
    border-radius: 10px;
    text-align: $centro;
    padding: 3px;
    border: 4px $c2;
    font-size: 25px;
    box-shadow: inset 0 0 5px;
    background-color: $c3;

    &[type="text"] {
        height: 40px;
        color: $c1;
        margin: 0;
        border: 1px solid;        
    }

    &[type="number"] {
        height: 40px;
        color: $c1;
        border: 1px solid;
        margin: 0;        
    }

    &:focus {
        box-shadow: 0 0 15px 10px $c5;
        border: 5px;
    }
}

.fotoAgrandada {
    img {
        padding-top: 15px;
        width: 50%;
        height: 50%;
        display: grid;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.turnos {
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    height: 60%;
    h2 {
        color:$c4;
    }
}


.form-group {
    flex: 1 1 45%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 12px;
}

#formularioContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

#formulario {
    display: flex;
    flex-direction: column;
    width: 55%; 
    max-width: 60%; 
    margin: 0 auto; 
}

.formulario-turnos {
    display: flex;
    flex-direction: column;
    justify-content: $centro;
    align-items: $centro;
}

.formulario-turnos input:nth-of-type(3) {
    text-align: $centro;
    color: $c4;
}

.formulario-turnos label {
    margin-left: 5px;
    margin-bottom: 20px;
    display: block;
}

.formulario-turnos input {
    margin-bottom: 15px;
}

.message {
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    background-color: #dff0d8;
    color: #3c763d;
}

.centralizado {    
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fichas-container {
    margin: 40px 0;
}

.ficha {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
}

.ficha h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.fichaPaciente {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid #e53935;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    margin-bottom: 15px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: left;
}

.fichaPaciente:hover {
    background-color: #f5f5f5;
    transform: translateY(-2px);
}

.fichaPaciente .idPaciente {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#guardarFichaBoton {
    margin-top: 12px;
    background-color: #3c763d;
    color: $c3;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

#limpiarFichaBoton {
    margin-top: 12px;
    background-color: #f1ee2d;
    color: $c3;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.fila-botones {
    display: flex;
    justify-content: $centro;
    align-items: $centro;
}

#recuadroLimpiar {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.presupuestoContenedor {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    font-weight: 400;
    background-color: #fff;
    flex-grow: 1;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;
}

.derecha {
    float: right;
}

.rojo {
    color: #FF5049 !important;
}

.rojofocus:focus {
    border: 1px solid #FF5049 !important;
}

.derecha .limpiarEstilos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecero {
    height: 45vh;
    background: url("../assets/images/fondoPresupuesto.png") repeat, linear-gradient(to left, #7b4397, #dc2430);
    background-blend-mode: screen;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
}

.presupuesto {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.presupuesto_titulo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.presupuesto_valor {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.presupuesto_ingreso,
.presupuesto_egreso {
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presupuesto_ingreso {
    margin-bottom: 15px;
    background-color: #28b969;
    border-color: #000;
    border-radius: 20px;
}

.presupuesto_egreso {
    background-color: #FF5049;
    border-color: #000;
    border-radius: 20px;
}

.presupuesto_ingreso--texto,
.presupuesto_egreso--texto {
    float: left;
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 4px;
    clear: both;
}

.presupuesto_ingreso--valor,
.presupuesto_egreso--valor {
    letter-spacing: 1px;
    float: left;
}

.presupuesto_ingreso--porcentaje,
.presupuesto_egreso--porcentaje {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.presupuesto_egreso--porcentaje {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


.agregar {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.agregar_contenedor {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agregar_tipo {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.agregar_descripcion,
.agregar_valor {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
    flex: 1;
}

.agregar_descripcion {
    margin-right: 10px;
}

.agregar_btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.agregar_btn:active {
    transform: translateY(2px);
}

.agregar_tipo:focus,
.agregar_descripcion:focus,
.agregar_valor:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.agregar_btn:focus {
    outline: none;
}

.contenedor {
    width: 860px;
    margin: 60px auto;
    overflow: auto;
}

.ingreso {
    float: left;
    margin-right: 70px;
}

.egreso {
    float: left;
}

.prespuesto h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.ingreso_titulo {
    color: #28B9B5;
}

.egreso_titulo {
    color: #FF5049;
}

.elemento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.elemento:first-child {
    border-top: 1px solid #e7e7e7;
}

.elemento:nth-child(even) {
    background-color: #f7f7f7;
}

.elemento_descripcion {
    float: left;
    margin-right: 20px;
}

.elemento_valor {
    float: left;
    transition: transform 0.3s;
}

.elemento_porcentaje {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 45px;
    text-align: center;
}

.ingreso .elemento_valor,
.ingreso .elemento_eliminar--btn1 {
    color: #28B9B5;
}

.egreso .elemento_valor,
.egreso .elemento_porcentaje,
.egreso .elemento_eliminar--btn2 {
    color: #FF5049;
}

.elemento_eliminar {
    display: inline-block;
}

.elemento_eliminar--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.elemento_eliminar--btn:focus {
    outline: none;
}

.elemento_eliminar--btn:active {
    transform: translateY(2px);
}

.elemento:hover .elemento_eliminar--btn {
    display: block;
}

.elemento:hover .elemento_valor {
    transform: translateX(-20px);
}

.elemento:hover .elemento_porcentaje {
    transform: translateX(-20px);
}

$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;

.table {
    color: $c3;
}

.table-responsive {
    overflow-x: auto;
}

sec .row-about {
    display: flex;
    height: 500px;
    width: 100%;
    padding-left: 14px;
}

.fotoencuadrada {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 320px) {
    body {
        font-size: $little-font-size;
    }

    h2 {
        font-size: $base-font-size;
    }

    .solicitar-link {
        padding: 5px 10px;
    }
    .fila-botones {
        flex-direction: column;
        .recuadro {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}

@media (max-width: 480px) {
    body {
        font-size: $little-font-size;
    }
    h2 {
        font-size: $base-font-size;
    }
    .solicitar-link {
        padding: 5px 10px;
    }
    .Jumbotromp {
        background-size: contain;
        height: auto;
        min-height: 200px;
    }
    .fila-botones {
        flex-direction: column;
        .recuadro {
            flex: 1 1 100%;
            max-width: 90%;
        }
    }
}

@media (min-width: 580px) and (max-width: 800px) {
    body {
        font-size: $base-font-size;
    }
    h2 {
        font-size: $big-font-size;
    }
    .solicitar-link {
        padding: 10px 20px;
    }
    .Jumbotromp {
        background-size: contain;
        height: auto;
        min-height: 250px;
        opacity: 0.8;
    }
    .fila-botones {
        flex-direction: column;
        .recuadro {
            flex: 1 1 90%;
            max-width: 100%;
        }
    }
}

@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
    body {
        font-size: $base-font-size;
    }
    h2 {
        font-size: $big-font-size;
    }
    .solicitar-link {
        padding: 10px 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    body {
        font-size: $base-font-size;
    }

    h2 {
        font-size: $big-font-size;
    }

    .solicitar-link {
        padding: 10px 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    body {
        font-size: $font-size-base;
    }

    h2 {
        font-size: $big-font-size;
    }

    .solicitar-link {
        padding: 10px 20px;
    }
}

@media (min-width: 1367px) {
    body {
        font-size: $font-size-base;
    }

    h2 {
        font-size: $big-font-size;
    }

    .solicitar-link {
        padding: 10px 20px;
    }
}
