.Jumbotromp{
    background-color: $c1; /* color de fondo: negro */
    text-shadow: $c2 -2px; /* Sombra de texto */
    font-size: 16px; /* Tamaño de fuente */  
    text-align: left; /* Alinea el texto a la izquierda */
} 
