$little-font-size: 10px;
$base-font-size: 16px;
$big-font-size: 20px;
$body-line-height: 1.6; // Define el espaciado entre líneas para el cuerpo del texto
$text-alignment: left; // Alineación predeterminada del texto
$list-item-padding: 5px; // Espaciado interno de los elementos de lista
$c1: rgb(13, 110, 253);
$c2: #000000;
$c3: rgb(255, 255, 255);
$c4: rgb(0, 128, 0);
$c5: rgb(255, 255, 0);
$c6: rgb(255, 0, 0);
$c7: #800080;
$c8: rgb(255, 215, 0);
$c9: rgb(216, 122, 147);
$c10: rgb(255, 235, 205); 
$c11: rgb(34, 204, 12);
$c12: #333;
$c13: #3000b3;
$centro: center;
$izq: left;
$alto: height;
$ancho: width;
$radio: 10px;