footer {
    background-color: $c2;
    color: $c3;
    padding: $spacer-md;
    text-align: $centro;
    .redes {
        margin-top: $spacer-sm;
        a {
            margin: 0 $spacer-sm;
            color: $c3;
            font-size: 1.5em;
            &:hover {
                color: $c2;
            }
        }
    }
}
