header {
    background-color: $c1;
    color: $c3;
    padding: $spacer-md;
    .logo {
        max-width: 150px;
    }
    nav {
        margin-top: $spacer;
        ul {
            display: flex;
            list-style: none;
            padding: 0;
            li {
                margin-right: $spacer;
                a {
                    color: $c3;
                    text-decoration: none;
                    &:hover {
                        color: $c2;
                    }
                }
            }
        }
    }
}