@font-face {
    font-family: 'Gwendolyn';
    src: url(../fonts/Gwendolyn-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $font-family-base;
    font-size: $base-font-size;
    line-height: $body-line-height;
}

h1 {
    font-size: 2em;
    margin-bottom: $spacer;
}

h2 {
    font-size: 1.75em;
    margin-bottom: $spacer;
}

h3 {
    font-size: 1.5em;
    margin-bottom: $spacer;
}

h4 {
    font-size: 1.25em;
    margin-bottom: $spacer;
}

h5 {
    font-size: 1em;
    margin-bottom: $spacer;
}

h6 {
    font-size: 0.875em;
    margin-bottom: $spacer;
}

p {
    font-size: 1em;
    margin-bottom: $spacer;
}