@font-face {
    font-family: 'Gwendolyn';
    src: url(../fonts/Gwendolyn-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}